*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: 'Kode Mono', monospace;
}


/* Header */
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 7rem;
    background-color: #f0f0f0;
}

#logo{
    font-size: 2em;
    color: black;
    font-weight: 300;
    text-decoration: none;
}

header nav {
    margin-right: 4%;
}

header ul{
    display: flex;
    list-style-type: none;
}

header ul li{
    padding: 1em 1.5em;
}

header a{
    color: black;
    text-decoration: none;
    font-weight: 400;
}

#active{
    color: white;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.884);
    padding: 0.5rem;
    border-radius: 10rem;
}

#easteregg1 {
    color: #f0f0f0;
}

#easteregg1:hover {
    cursor: default;
}

/* Hamburger Menu */
#nav-toggle{
    display: none;
}

.ham-menu{
    display: none;
}

@media (max-width: 650px){
    .ham-menu{
        display: block;
        position: absolute;
        right: 5%;
        font-size: 2.5rem;
        z-index: 1;
    }

    .menu{
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 1;
        left: 0;
        right:0;
        top: 0;
        bottom: 100%;
        text-align: center;
        background-color: rgba(0,0,0,0.5);
        overflow: hidden;
        transition: all .5s;
    }

    #nav-toggle:checked ~ .menu{
        background-color: rgba(0,0,0, 0.5);
        padding-top: 6em;
        bottom: 0;
    }

    header {
        justify-content: start;
    }

    #logo {
        margin-left: 2rem;
    }

    .menu li {
        padding: 1rem;    
    }

    .menu li a {
        color: white;
    }

    #active {
        color: black;
        font-weight: 600;
        padding: 0.5rem;
        border-radius: 10rem;
        background-color: white;
    }

    #easteregg1 {
        display: none;
    }

}

/* Main-index */
#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}



.Introduction {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-height: 80vh;
    max-width: 70vw;
    min-height: 260px;
    min-width: 215px;
    background-color: white;
    padding: 1rem;
    border-radius: 5rem;
    margin-top: 1rem;
}

.title {
    font-size: bold;
}

.btn {
    padding: 0.5rem;
    border-radius: 10rem;
}

#socials {
    display: flex;
    justify-content: space-evenly;
    width: 75px;
}

.icon {
    display: none;
}

.Introduction-pic {
    border-radius: 20%; 
    overflow: hidden;
    margin-left: 2rem;
}

.home-pic img {
    max-width: 100%;
}

@media (max-width: 650px) {
    #profile {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 33rem); 
        overflow-y: auto;
    }

    .Introduction {
        height: auto;
        margin-bottom: 20px;
    }

    .Introduction-pic {
        border-radius: 20%;
        margin-left: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Introduction-pic img {
        max-width: 100%;
        max-height: 100%;
        min-width: 200px;
        min-height: 250px;
        object-fit: cover;
    }


}
/* Main-About */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 9% 0;
}
.about-title {
    margin-bottom: 2rem;
    background-color: white;
    padding: 1rem;
    border-radius: 5rem;
}
.about-me {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 400px;
}
 .about-pic {
    border-radius: 20% 0 0 20%; 
    overflow: hidden;
 }

.Introduction-about {
    height: 25rem;
    width: 22rem;
    text-align: center;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0 20% 20% 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 0 1rem;
}


.Introduction-p1-about {
    margin-bottom: 2rem;
}

.about-pic img {
    max-width: 100%;
}

@media (max-width: 650px) {
    .about-title {
        margin-bottom: 0rem;
    }
   
    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .about-pic {
        margin-top: 2rem;
        border-radius: 20%; 
        overflow: hidden;
        max-width: 100%;
        max-height: 100%;
        min-width: 200px;
        min-height: 250px;
        object-fit: cover;
     }

    .Introduction-about {
        margin-top: 2rem;
        height: auto;
        width: auto;
        max-width: 100%;
        border-radius: 20%;
        padding: 2rem;
        margin: 1rem;
        border: none;

    }
}
/* Main-CV */
#experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 0 5%;
    min-width: 550px;
    max-width: 100%;
}

.experience-title {
    font-family: 'Kode Mono', monospace;
    padding: 2rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 5rem;
}

.experience-me {
    display: flex;
    max-width: 1000px;
}

.exp {
    font-family: 'Kode Mono', monospace;
    padding: 1rem;
}

.experience-edu{
    background-color: #f0f0f0;
}

.experience-work {
    background-color: #f5eeee;
}

@media (max-width: 650px) {

    #experience {
        padding: 2rem;
        margin: 0 5%;
        min-width: 100px;
        max-width: 100%;
    }

    .experience-me{
        display: flex;
        flex-direction: column;
        min-width: 100px;
    }


}
/* Main-Projects */
#project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.my-project {
    display: flex;
    padding-top: 3rem;
}

.int {
    max-width: 382px;
    text-align: center;
    margin: 0 2rem;
    border: 2px solid black;
    background-color: #f5eeee;
}

.int img {
    max-width: 100%;
    height: auto;
}

.int h2 {
    margin-top: 10px;
    font-size: 25px;
}

.int a{
    text-decoration: none;
}

#project ul {
    display: flex;
    justify-content: center;
    padding: 2rem;
    list-style-type: none;
}

#project h1 {
    padding: 2rem;
    background-color: white;
    border-radius: 5rem;
}

.link{
    background-color: #c7fdfd;
    color: black;
    padding: 10px 25px;
    border-radius: 30px;
    transition: 0.5s;
}

.link:hover{
    background-color: black;
    color: #c7fdfd;
    transform: scale(1.1);
}

@media (max-width: 1000px) {
    #project h1 {
        margin-top: 1rem;
    }
    .my-project {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 3rem 0;
    }

    .int {
        margin: 2rem 0;
    }
}
/* Main-Lorem */
#main-lorem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#main-lorem h1 {
    background-color: white;
    padding: 2rem;
    border-radius: 10rem;
    margin: 2rem 0;
}

.lorm {
    max-width: 300px;
    max-height: 400px;
    padding: 2rem;
    background-color: white;
    border-radius: 5rem;
    margin: 1rem; 
}

.lorm p {
    text-align: center;
}

.lorem-1,
.lorem-3 {
    align-self: flex-start;
    margin-left: 30%;
}

.lorem-2 {
    align-self: flex-end;
    margin-right: 30%;
}

@media (max-width: 650px) {
    #main-lorem {
        justify-content: initial;
    }

    .lorm p {
        text-align: left;
    }

    .lorem-1,
    .lorem-3,
    .lorem-2 {
        align-self: initial;
        margin-left: 0;
        margin-right: 0;
    }
}

/* Footer */
footer {
    width: 100%;
    padding: 1rem;
    background-color: #f0f0f0;
    text-align: center;
}


/* Modal popup */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    width: 50%;
    padding: 2rem;
    border: 1px solid #888;
    position: relative;
}

:target {
    display: block;
}

.close {
    color: #aaa;
    position: absolute;
    top: 0;
    right: 9px;
    font-size: 2rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


  
